a.navLink {
  font-weight: bold;

  &:hover {
    background-color: #4B0082;
    color: #ffffff;
    text-decoration: none !important;
    font-weight: bold;
  }
}

.menuAvatar {
  margin-top: -2px;
}