@import "../../pages/app_variables";

.container {
  max-width: 900px;
  display: flex;
}

.profileCard {
  padding: 1rem 0;
}

.name {
  font-weight: bold;
  margin: 0;
}

.profileHeading {
  padding: 0 1rem;
}

.profileImage img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.line {
  border: 0 solid $primary;
  border-bottom-width: 2px;
  width: 100%;
  opacity: .25;
  margin: 0.5em 0;
}

.jobTitle {
  font-weight: bold;
}

.profileContent {
  margin-top: 1rem;
  margin-bottom: 1rem;
}