@import "../../../pages/app_variables";

a.navLink {
  font-weight: bold;

  &:hover {
    background-color: $primary;
    color: #ffffff;
    text-decoration: none !important;
    font-weight: bold;
  }
}

.menuAvatar {
  margin-top: -2px;
}