.wrapper {
  background-image: url('https://source.unsplash.com/1L71sPT5XKc');
  padding: 250px 0 400px 0;
  text-align: center;
  color: #fff;

  h1 {
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
  }
}